h1 {
    text-decoration: underline;
}

.question {
    font-weight: bold;
}

#copyright {
    font-size: smaller;
}

img {
    border-radius: 100%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
}